<h1>Listing localities</h1>

<table>
  <tr>
    <th>Icc</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @localities.each do |locality| %>
  <tr>
    <td><%= locality.icc %></td>
    <td><%= locality.country %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', root_url %>
