#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository
#
#----------------------------------------------------------------------------

# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
/log/*
tmp/*

# various artifacts
**.war
*.rbc
*.sassc
.rspec
.sass-cache
/config/config.yml
/config/database.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt
/spec/requests
/spec/routing
/spec/views
/specifications

# solr
solr/data/**/*
solr/pids/**/*
 
# scm revert files
**.orig

# Mac finder artifacts
.DS_Store


# Textmate project files
/*.tmpproj

# vim artifacts
**.swp
