<h1>Exploring the shim</h1>
<p>Tables in Shim</p>
<%= link_to 'Bars', bars_path %>
<%= link_to 'Currencies', currencies_path %>


<div id="about">
  <h4><a href="rails/info/properties" onclick="about(); return false">Application&rsquo;s environment</a></h4>
  <div id="about-content" style="display: none"></div>
</div>
